<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="form">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.tipo.label_tag }}
                {{ form.tipo }}
            </div>
            <div class="mb-3">
                {{ form.tamanho.label_tag }}
                {{ form.tamanho }}
            </div>
            <div class="mb-3">
                {{ form.algoritmo.label_tag }}
                {{ form.algoritmo }}
            </div>
            <input type="submit" class="btn btn-success" value="Ordenar">
        </form>
    </div>
</body>
</html>